  <h1>{{thisUsr.name.charAt(0).toUpperCase() + thisUsr.name.slice(1)}}'s Buckets!</h1>

<a href="/logout">LOGOUT</a>

New Bucket:
<form ng-submit="addBckt( newBckt )">

  Name:
  <input class="resettable" style="display:block" type="text" ng-model="newBckt.name" value="">
  Description
  <textarea class="resettable" style="display:block" ng-model="newBckt.desc" rows="2" cols="80"></textarea>
  Tag a User:
  <select class="resetSelect"  style="display:block" ng-model="newBckt.usrId2">
    <option class="defaultSelect" selected="selected" value="" >Just me!</option>
    <option ng-repeat="friend in friends" ng-if="friend.acc==true" value="{{friend.ref._id == thisUsr._id? friend.rec._id : friend.ref._id }}" >{{ friend.ref._id == thisUsr._id? friend.rec.name : friend.ref.name }}</option>
  </select>

  <input style="display:block" type="submit" value="Queue Bucket">
</form>

<a href="/friends">Add friends!</a>

<h2>Here are the friend Requests</h2>
<span  ng-repeat='friendship in friends' ng-if="!friendship.acc && friendship.ref._id != thisUsr._id">
        <h3>{{friendship.ref.name}}</h3>
       <button ng-click="confirmFriend( friendship.ref )" type="button" name="button">Confirm!</button>
</span>

<h2>Here are the buckets</h2>
Not done yet:
<div  ng-repeat='user in users'>
  <span ng-if='( user._id == thisUsr._id )'>
    <span ng-repeat='bckt in user.buckets' ng-if="( !bckt.done )" >
      <input  ng-click='doBckt( bckt )'  type="checkbox" >
       {{ bckt.name }}<br>
    </span>
  </span>
</div>

Done!:
<div  ng-repeat='user in users'>
  <span ng-if='( user._id == thisUsr._id )'>
    <span ng-repeat='bckt in user.buckets' ng-if="( bckt.done )" >
      <input  ng-click='doBckt( bckt )'  type="checkbox" checked >
       {{ bckt.name }}<br>
    </span>
  </span>
</div>
<hr>

<!--
  <span ng-repeat='bckt in users[0].buckets' >
    <input ng-if='( user._id != thisUsr._id )&&( !bckt.done )'  ng-click='doBckt( bckt )'  type="checkbox"  disabled>
    <input ng-if='( user._id != thisUsr._id )&&( bckt.done )'  ng-click='doBckt( bckt )'  type="checkbox"  disabled checked>
     {{ bckt.name }}GOGOGOGO<br>
  </span>

-->
